{% extends "back_base_layout.twig" %}

{% block vendor_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ base_url('assets/back/vendor/datatables/datatables.min.css') }}"/>
    <link rel="stylesheet" href="{{ base_url('assets/back/vendor/select2/dist/css/select2.min.css') }}"/>
{% endblock %}

{% block body %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {{ validation_errors('<div class="panel panel-filled panel-c-danger"><div class="panel-heading">', '</div></div>') | raw}}

                    {% if session.flashdata.error == TRUE %}

                        <div class="panel panel-filled panel-c-danger"><div class="panel-heading">{{ session.flashdata.error | raw }}</div></div>
                    {% elseif session.flashdata.success == TRUE %}

                        <div class="panel panel-filled panel-c-success"><div class="panel-heading">{{ session.flashdata.success | raw }}</div></div>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="view-header">
                        <div class="pull-right text-right" style="line-height: 14px">
                            <a href="{{ base_url('back/content/page') }}" class="btn btn-w-md btn-accent">Powrót</a>
                        </div>
                        <div class="header-icon">
                            <i class="pe page-header-icon pe-7s-note"></i>
                        </div>
                        <div class="header-title">
                            <h3 class="m-b-xs">Zawartość | Edycja | <span class="text-muted"><a href="#" class="popup_edit" data-type="text" data-pk="{{ page.pa_id }}" data-url="{{ base_url('back/content/inline_update') }}" data-name="pa_title">{{ page.pa_title }}</a></span></h3>
                            <small>
                                Możliwość edycji wybranej strony
                            </small>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

            <div class="row m-t-lg">
                <div class="col-lg-9">
                    <div class="panel panel-filled panel-c-accent">
                        <div class="panel-heading">
                            Tworzenie modułów
                            <p><small class="text-muted">W celu utworzenia nowego modułu wybierz dostępny moduł (po lewej) i wypełnij pola formularza</small></p>
                        </div>
                        <div class="panel-body">
                            <div class="tabs-container">

                                <div class="tabs-left">
                                    <ul class="nav nav-tabs">
                                        {% set counter = 0 %}
                                        {% for key, form in forms %}
                                            <li class="{% if counter == 0 %}active{% endif %}"><a data-toggle="tab" href="#tab-{{ counter }}"> {{ key }}</a></li>
                                            {% set counter = counter + 1 %}
                                        {% endfor %}
                                        {% set counter = 0 %}
                                    </ul>

                                    <div class="tab-content ">
                                        {% for key, form in forms %}
                                            <div id="tab-{{ counter }}" class="tab-pane {% if counter == 0 %}active{% endif %}">
                                                <div class="panel-body">
                                                    {{ form_open('', 'class="form-horizontal"') }}
                                                    {{ include(template_from_string(form)) }}
                                                    <input type="hidden" value="{{ key }}" name="mo_layout">
                                                    <button type="submit" class="btn btn-success pull-right" id="submit"><i class="fa fa-save"></i> Zapisz</button>
                                                    {{ form_close() }}
                                                    {% set counter = counter + 1 %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                        {% set counter = 0 %}
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="modal fade" id="modalADDpicture" role="dialog" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title">Wybierz plik</h4>
                                <small>Zaznacz plik do dodania</small>
                            </div>
                            <form action="{{ base_url('back/content/media') }}" class="form-horizontal" enctype="multipart/form-data" method="post" accept-charset="utf-8">

                                <div class="modal-body">

                                    <div class="row">
                                        {% set counter = 0 %}
                                        {% for file in files %}
                                        {% if file.fi_extension != '.pdf' %}

                                        <div class="col-xs-2">
                                            <a href="#"><img src="{{ base_url('uploads/' ~ file.fi_name_thumb ~ file.fi_extension) }}" class="img-responsive pick-image" id="{{ file.fi_name ~ file.fi_extension }}" data-image-id="{{ file.fi_name }}" data-dismiss="modal"/></a>
                                        </div>

                                        {% set counter = counter + 1 %}

                                        {% if counter == 6 %}
                                        {% set counter = 0 %}

                                        <div class="space-25 clearfix"></div>

                                        {% endif %}

                                        {% endif %}
                                        {% endfor %}

                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-accent" data-dismiss="modal">OK</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="panel panel-filled panel-c-accent">
                        <div class="panel-heading">
                            Opcje
                            <p><small class="text-muted">Podstawowe elementy składowe strony</small></p>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table  class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td>Odnośnik</td>
                                            <td><a href="#" class="popup_edit" data-type="text" data-pk="{{ page.pa_id }}" data-url="{{ base_url('back/content/inline_update') }}" data-name="pa_slug">{{ page.pa_slug }}</a></td>
                                        </tr>
                                        <tr>
                                            <td>Opis</td>
                                            <td><a href="#" class="popup_edit" data-type="textarea" data-pk="{{ page.pa_id }}" data-url="{{ base_url('back/content/inline_update') }}" data-name="pa_description">{{ page.pa_description }}</a></td>
                                        </tr>
                                        <tr>
                                            <td>Szablon</td>
                                            <td><a href="#" class="popup_edit" data-type="select" data-pk="{{ page.pa_id }}" data-url="{{ base_url('back/content/inline_update') }}" data-name="pa_layout" data-source="[{% for layout in layouts %} {'value':'{{ layout }}', 'text':'{{ layout }}'}, {% endfor %}]" data-value="{{ page.pa_layout }}">{{ page.pa_layout }}</a></td>
                                        </tr>
                                        <tr>
                                            <td>Status</td>
                                            <td><a href="#" class="popup_edit" data-type="select" data-pk="{{ page.pa_id }}" data-url="{{ base_url('back/content/inline_update') }}" data-name="pa_status" data-source="[{'value':'Aktywna', 'text':'Aktywna'},{'value':'Nieaktywna', 'text':'Nieaktywna'}]" data-value="{{ page.pa_status }}">{{ page.pa_status }}</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="panel panel-filled panel-c-accent">
                        <div class="panel-heading">
                            Edycja utworzonych modułów
                            <p><small class="text-muted">Kliknij w strzałkę po prawej w celu rozwinięcia formularza do edycji modułu</small></p>
                        </div>
                        <div class="panel-body">
                            {% for module in modules %}
                            <div class="panel panel-filled panel-collapse">
                                <div class="panel-heading">
                                    <div class="panel-tools">
                                        <a class="panel-toggle"><i class="fa fa-chevron-down"></i></a>
                                    </div>
                                    {{ module.mo_description }}
                                </div>
                                <div class="panel-body" style="display: none;">

                                    {{ form_open('back/content/edit_module/' ~ module.mo_id, 'class="form-horizontal"') }}
                                    {{ include(template_from_string(module.mo_form)) }}
                                    <input type="hidden" value="{{ module.mo_layout }}" name="mo_layout">
                                    <input type="hidden" value="{{ module.mo_pa_id }}" name="mo_pa_id">
                                    <div>
                                        <button type="submit" class="btn btn-success pull-right"><i class="fa fa-save"></i> Zapisz</button>
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModule-{{ module.mo_id }}"><i class="fa fa-trash"></i> Usuń</button>
                                    </div>
                                    {{ form_close() }}

                                    <div class="modal fade" id="deleteModule-{{ module.mo_id }}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h4 class="modal-title">Usuwanie modułu</h4>
                                                    <h4>{{ module.mo_description }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p><strong>Czy na pewno chcesz usunąć moduł? </strong></p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                                                    <a href="{{ base_url('back/content/delete_module/' ~ module.mo_pa_id ~ '/' ~ module.mo_id) }}" class="btn btn-danger">Usuń</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="panel panel-filled panel-c-accent">
                        <div class="panel-heading">
                            Kolejność modułów
                            <p><small class="text-muted">Przytrzymaj lewym przyciskiem myszy wybrany moduł i przeciągnij go na osi pionowej</small></p>
                        </div>
                        <div class="panel-body">
                            <input type="hidden" id="nestable-output" />
                            <div class="dd" id="nestable">
                                <ol class="dd-list">

                                    {% for module in modules %}
                                        <li class="dd-item" data-id="{{ module.mo_id }}">
                                            <div class="dd-handle">
                                                <span><i class="fa fa-arrows-v m-r-xs c-accent"></i></span>
                                                {{ module.mo_description }}
                                            </div>
                                        </li>
                                    {% endfor %}

                                </ol>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End main content-->

{% endblock %}

{% block vendor_scripts %}
    {{ parent() }}
    <script src="{{ base_url('assets/back/vendor/datatables/datatables.min.js') }}"></script>
    <script src="{{ base_url('assets/back/vendor/select2/dist/js/select2.js') }}"></script>
    <script src="{{ base_url('assets/back/vendor/nestable/jquery.nestable.js') }}"></script>

    <script>
    $(document).ready(function () {

        // START ADD IMAGES TO HIDDEN INPUT

        // For new module
        $('.modal-image-picker').click(function(){
            var data_button_id = $(this).attr('data-button-id');

            $('.pick-image').click(function () {
                var id = $(this).attr('id');
                $('[data-input-id=' + data_button_id + ']').attr('value', id);
                $('[data-button-id=' + data_button_id + ']').text(id);
            });
        });

        // For edited module
        $('.modal-image-picker').click(function(){
            var data_button_value = $(this).attr('data-button-value');

            $(".pick-image").bind('click', function() {
                var id = this.id;
                $('[data-input-value=' + data_button_value + ']').attr('value', id);
                $('[data-button-value=' + data_button_value + ']').text(id);

                data_button_value = 'undefined';
            });
        });


        // Preview choosen picture in modal view for existing module
        $('[data-button-value]').click(function() {
            var data_button_value;
            var value;
            var data_image_id;
            data_button_value = $(this).attr('data-button-value');
            value = $('[data-input-value=' + data_button_value + ']').attr('value');
            data_image_id = value.split('.')[0];
            $('.pick-image').removeClass('img-thumbnail');
            $('[data-image-id=' + data_image_id + ']').addClass('img-thumbnail');
        });

        // Preview choosen picture in modal view for new module
        $('[data-button-id]').click(function() {
            var data_button_id;
            var value;
            var data_image_id;
            data_button_id = $(this).attr('data-button-id');
            value = $('[data-input-id=' + data_button_id + ']').attr('value');
            data_image_id = value.split('.')[0];
            $('.pick-image').removeClass('img-thumbnail');
            $('[data-image-id=' + data_image_id + ']').addClass('img-thumbnail');
        });

        // END ADD IMAGES TO HIDDEN INPUT

        // START ADD NEW PICK IMAGE FIELD
        $('.add_new_pick_image_field').click(function() {
            var attr;

            if($(this).attr('data-add-id')) {
                attr = 'id';
            } else {
                attr = 'value';
            }

            var $add_new_pick_image_field = $(this);

            var $add_new_pick_image_field = $(this);

            var data_new_field_value = $add_new_pick_image_field.attr('data-add-' + attr);

            $add_new_pick_image_field.addClass('disabled');
            $('[type=submit]').addClass('disabled').attr('disabled', 'disabled');

            var random_number;

            random_number = Math.floor(Math.random() * (9999999999 - 1000000000 + 1)) + 1000000000;

            //$('.new-field').append('<div class="form-group" data-form-group-id="1499682598' + random_number + '"><label for="var-image" class="col-sm-3 control-label">Wybierz plik <code>*</code></label><div class="col-sm-9"><a href="#" class="btn btn-w-md btn-success modal-image-picker" data-toggle="modal" data-target="#modalADDpicture" data-button-id="1499682598' + random_number + '">Dodaj plik</a> <a href="#" class="btn btn-w-md btn-default" data-cancel-id="1499682598' + random_number + '">Anuluj</a><input type="hidden" name="var-image[]" id="{{ var-image }}" value="" data-input-id="1499682598' + random_number + '"></div></div>');
            $('[data-new-field-' + attr + '=' + data_new_field_value + ']').append('<div class="form-group" data-form-group-id="1499682598' + random_number + '"><label for="var-image" class="col-sm-3 control-label">Wybierz plik <code>*</code></label><div class="col-sm-9"><a href="#" class="btn btn-w-md btn-success modal-image-picker" data-toggle="modal" data-target="#modalADDpicture" data-button-id="1499682598' + random_number + '">Dodaj plik</a> <a href="#" class="btn btn-w-md btn-default" data-cancel-id="1499682598' + random_number + '">Anuluj</a><input type="hidden" name="var-image[]" id="{{ var-image }}" value="" data-input-id="1499682598' + random_number + '"></div></div>');

            // Usunięcie innych pojawiąjących się

            $('.modal-image-picker').click(function(){
                var data_button_id = $(this).attr('data-button-id');

                $('.pick-image').on('click', function () {
                    var id = this.id;
                    $('[data-input-id=' + data_button_id + ']').attr('value', id);
                    $('[data-button-id=' + data_button_id + ']').text(id);

                    data_button_id = 'undefined';

                    $add_new_pick_image_field.removeClass('disabled');
                    $('[type=submit]').removeClass('disabled').removeAttr('disabled', 'disabled');
                });

            });

            $('[data-cancel-id]').click(function() {
                var data_cancel_id;
                data_cancel_id = $(this).attr('data-cancel-id');
                $('[data-form-group-id=' + data_cancel_id + ']').remove();
                $('.add_new_pick_image_field').removeClass('disabled');
                $('[type=submit]').removeClass('disabled').removeAttr('disabled', 'disabled');

                return false;
            });

            return false;
        });
        // END ADD NEW PICK IMAGE FIELD

        $('[data-cancel-value]').click(function() {
            var data_cancel_value;
            data_cancel_value = $(this).attr('data-cancel-value');
            $('[data-form-group-value=' + data_cancel_value + ']').remove();
            $('.add_new_pick_image_field').removeClass('disabled');
            $('[type=submit]').removeClass('disabled').removeAttr('disabled', 'disabled');

            return false;
        });

        $(".select2_demo_1").select2();

        $('.popup_edit').editable({
            ajaxOptions: {
                dataType: 'json' //assuming json response
            },
            emptytext: 'Brak danych',
            success: function(data, newValue) {
                if(data.status == 0) {
                    return data.msg; // Message will be shown in editable form
                } else {
                    setTimeout(function(){ // Run toastr notification with success message
                            toastr.options = {
                                "positionClass": "toast-top-right",
                                "closeButton": true,
                                "progressBar": true,
                                "showEasing": "swing",
                                "timeOut": "6000"
                            };
                            toastr.success('<strong>Sukces! </strong> <br/><small>' + data.msg + '</small>');
                        },500
                    );
                }
            }
        });

        // START NESTED LIST
        // https://stackoverflow.com/questions/32255773/jquery-nestable-output-into-mysql-database
        // GGL: nestable jquery send data ajax php
        // Log for nestable list
        var updateOutput = function (e) {
            var list = e.length ? e : $(e.target),
                output = list.data('output');
            if (window.JSON) {
                output.val(window.JSON.stringify(list.nestable('serialize')));//, null, 2));

                $.post(
                    '{{ base_url("back/content/update_nestable") }}',
                        {
                            'output' : output.val()
                        },
                    function(data) {
                        console.log('success')
                    }
                );
            } else {
                output.val('JSON browser support required for this demo.');
            }
        };

        // Activate Nestable for list 1
        $('#nestable').nestable({
            group: 1,
            maxDepth: 1
        }).on('change', updateOutput);

        // Output initial serialised data
        updateOutput($('#nestable').data('output', $('#nestable-output')));
        // END NESTED LIST

    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock %}